@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

//KOLORY
$white: #ffffff;
$white-100: #e8eaef;
$white-200: #e8e5e5;
$gray-100: #ccc7c7;
$gray-200: #9b9595;
$gray-300: #6b6464;
$red: #ce0021;
$burgundy-200: #ae0031;

//SHADOW
$box-shadow-300: 4px 4px 10px $gray-300;
